In [1]:
import numpy as np
import pandas as pd

import folium
import geopandas as gpd

c:\softwares\python3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\softwares\python3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
c:\softwares\python3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
df_covid = pd.read_csv('./complete.csv')
df_covid.head()

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated,New cases,New deaths,New recovered
0,2020-01-30,Kerala,10.8505,76.2711,1.0,0,0.0,0,0,0
1,2020-01-31,Kerala,10.8505,76.2711,1.0,0,0.0,0,0,0
2,2020-02-01,Kerala,10.8505,76.2711,2.0,0,0.0,1,0,0
3,2020-02-02,Kerala,10.8505,76.2711,3.0,0,0.0,1,0,0
4,2020-02-03,Kerala,10.8505,76.2711,3.0,0,0.0,0,0,0

In [7]:
india_geojson = gpd.read_file('./india.json')
india_geojson

,id,district,dt_code,st_nm,st_code,year,geometry
0,None,Aizawl,261,Mizoram,15,2011_c,"POLYGON ((93.04466 23.41052, 92.94680 23.51363..."
1,None,Champhai,262,Mizoram,15,2011_c,"MULTIPOLYGON (((93.04619 23.66623, 93.04466 23..."
2,None,Kolasib,263,Mizoram,15,2011_c,"POLYGON ((92.89633 24.39072, 92.86116 24.31374..."
3,None,Lawngtlai,264,Mizoram,15,2011_c,"POLYGON ((92.93456 22.55405, 92.93150 22.39458..."
4,None,Lunglei,265,Mizoram,15,2011_c,"POLYGON ((92.67307 23.38303, 92.68989 23.32804..."
...,...,...,...,...,...,...,...
718,None,Pratapgarh,173,Uttar Pradesh,09,2011_c,"POLYGON ((82.04827 26.05830, 82.10027 26.07205..."
719,None,Bilaspur,030,Himachal Pradesh,02,2011_c,"POLYGON ((76.73129 31.58206, 76.80163 31.42122..."
720,None,Niwari,782,Madhya Pradesh,23,2018,"POLYGON ((78.55867 25.21283, 78.51279 25.27607..."
721,None,Muzaffarabad,992,Jammu and Kashmir,01,2011_c,"POLYGON ((74.14696 35.09731, 74.25247 35.03682..."
722,None,Mirpur,991,Jammu and Kashmir,01,2011_c,"POLYGON ((73.59798 33.71293, 73.70350 33.62220..."