In [2]:
import pandas as pd
import geopandas as gpd
import folium

import warnings
warnings.filterwarnings('ignore')

In [3]:
life_expectancy = pd.read_csv('data/life-expectancy-vs-healthcare-expenditure.csv')
life_expectancy.head()

,Entity,Code,Year,"Total population (Gapminder, HYDE & UN)",Continent,"Health expenditure per capita, PPP (constant 2011 international $)","Life expectancy at birth, total (years)"
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
1,Afghanistan,AFG,1800,3280000.0,NaN,NaN,NaN
2,Afghanistan,AFG,1801,3280000.0,NaN,NaN,NaN
3,Afghanistan,AFG,1802,3280000.0,NaN,NaN,NaN
4,Afghanistan,AFG,1803,3280000.0,NaN,NaN,NaN

In [4]:
# Data Clean up

# 1. Rename Columns!
life_expectancy.rename(columns={'Total population (Gapminder, HYDE & UN)': 'Population',
                                'Health expenditure per capita, PPP (constant 2011 international $)': 'expenditure',
                                'Life expectancy at birth, total (years)': 'expectancy'}, inplace=True)

# 2. No null values in expenditure or expectancy
life_expectancy = life_expectancy[(life_expectancy['expenditure'].notna()) & (life_expectancy['expectancy'].notna())]
life_expectancy.head()

          Entity Code  Year  Population Continent  expenditure  expectancy
203  Afghanistan  AFG  2002  22601000.0       NaN    75.983514      56.637
204  Afghanistan  AFG  2003  23681000.0       NaN    89.440178      57.250
205  Afghanistan  AFG  2004  24727000.0       NaN    87.520903      57.875
206  Afghanistan  AFG  2005  25654000.0       NaN    88.323062      58.500
207  Afghanistan  AFG  2006  26433000.0       NaN    86.856016      59.110