In [2]:
import pandas as pd
import geopandas as gpd
import folium

import warnings
warnings.filterwarnings('ignore')

In [3]:
life_expectancy = pd.read_csv('data/life-expectancy-vs-healthcare-expenditure.csv')
life_expectancy.head()

,Entity,Code,Year,"Total population (Gapminder, HYDE & UN)",Continent,"Health expenditure per capita, PPP (constant 2011 international $)","Life expectancy at birth, total (years)"
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
1,Afghanistan,AFG,1800,3280000.0,NaN,NaN,NaN
2,Afghanistan,AFG,1801,3280000.0,NaN,NaN,NaN
3,Afghanistan,AFG,1802,3280000.0,NaN,NaN,NaN
4,Afghanistan,AFG,1803,3280000.0,NaN,NaN,NaN

In [5]:
# Data Clean up

# 1. Rename Columns!
life_expectancy.rename(columns={'Total population (Gapminder, HYDE & UN)': 'Population',
                                'Health expenditure per capita, PPP (constant 2011 international $)': 'expenditure',
                                'Life expectancy at birth, total (years)': 'expectancy'}, inplace=True)

# 2. No null values in expenditure or expectancy
life_expectancy = life_expectancy[(life_expectancy['expenditure'].notna()) & (life_expectancy['expectancy'].notna())
                                 & (life_expectancy['Population'].notna())]
life_expectancy.head()

          Entity Code  Year  Population Continent  expenditure  expectancy
203  Afghanistan  AFG  2002  22601000.0       NaN    75.983514      56.637
204  Afghanistan  AFG  2003  23681000.0       NaN    89.440178      57.250
205  Afghanistan  AFG  2004  24727000.0       NaN    87.520903      57.875
206  Afghanistan  AFG  2005  25654000.0       NaN    88.323062      58.500
207  Afghanistan  AFG  2006  26433000.0       NaN    86.856016      59.110

In [7]:
# Calculate total expenditure
life_expectancy['total_expenditure'] = life_expectancy['Population'] * life_expectancy['expenditure'] / 1e9  # In Billion $
life_expectancy.head()

,Entity,Code,Year,Population,Continent,expenditure,expectancy,total_expenditure
203,Afghanistan,AFG,2002,22601000.0,NaN,75.983514,56.637,1.717303
204,Afghanistan,AFG,2003,23681000.0,NaN,89.440178,57.250,2.118033
205,Afghanistan,AFG,2004,24727000.0,NaN,87.520903,57.875,2.164129
206,Afghanistan,AFG,2005,25654000.0,NaN,88.323062,58.500,2.265840
207,Afghanistan,AFG,2006,26433000.0,NaN,86.856016,59.110,2.295865

In [8]:
# Find year common to all countries
life_expectancy.Year.value_counts()

2012    183
2013    182
2005    182
2002    182
2014    182
2003    181
2011    181
2007    181
2010    181
2008    181
2006    181
2004    181
2009    181
2000    181
2001    179
1997    178
1999    177
1995    176
1998    176
1996    175
Name: Year, dtype: int64

### TASK 1 : Plot expenditure vs expectancy in year 2012