In [1]:
import pandas as pd
import geopandas as gpd
import folium

import warnings
warnings.filterwarnings('ignore')

c:\softwares\python3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\softwares\python3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
c:\softwares\python3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
df = pd.read_csv('data/maternal-mortality.csv')
df.head()

,Entity,Code,Year,Maternal Mortality Ratio (Gapminder (2010) and World Bank (2015))
0,Afghanistan,AFG,1990,1340.0
1,Afghanistan,AFG,1991,1330.0
2,Afghanistan,AFG,1992,1330.0
3,Afghanistan,AFG,1993,1320.0
4,Afghanistan,AFG,1994,1300.0

In [5]:
# Data clean up

# 1. Rename columns
df.rename(columns={'Maternal Mortality Ratio (Gapminder (2010) and World Bank (2015))': 'maternal_mortality'}, inplace=True)

# Check if there are Nan values 
df[df['maternal_mortality'].isna()]

Empty DataFrame
Columns: [Entity, Code, Year, maternal_mortality]
Index: []